
$upperhead_height: 34px;
$mainhead_height: 82px;
$mainhead_bgcolor: #46803f;
$mainhead_color: #fff;
$paddingLarge: 18px;

$sidepanel_width: 250px;
$sidepanel_bg: #f2f2f2;
$sidepanel_color_dark: #555;
$sidepanel_color_light: #7f7f7f;

$button_blue: #4992d0;



body, html {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: $font-weight-light;
  background: #fff;
  color: $sidepanel_color_dark;
  height: 100%;
}

.clearfix {
  @include clearfix();
}

.boxed {
  padding: $padding;
  border-radius: 3px;
  border: 1px solid darken($sidepanel_bg, 10%);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: $paddingLarge;
}

.sidepanel-bg {
  background: $sidepanel_bg;
}

.font-size-sm {
  font-size: $font-size-sm;
}

a.dark {
  color: $sidepanel_color_dark;
}

.upper-head {
  height: $upperhead_height;
  background: darken($mainhead_bgcolor, 30%);
  position: relative;

  nav a {
    color: $gray-lightest;
  }

  nav li {
    float: left;
    padding: 0 $padding;
    line-height: $upperhead_height;
    font-size: $font-size-xs;
    text-transform: uppercase;

    &.active {
      background: darken($mainhead_bgcolor, 15%);
      font-weight: $font-weight-semi-bold;
    }

  }

  .upper-links {
    line-height: $upperhead_height;
    top: 0;
    right: $padding;
    position: absolute;
    font-size: $font-size-sm;

    a {
      color: lighten($mainhead_bgcolor, 15%);
      padding-left: $padding;
    }

    .fa {
      font-size: 105%;
      padding-right: 3px;
    }
  }
}

input ,
textarea {
  padding: 0 $padding/2;
  border-radius: 3px;
  border: 1px solid darken($sidepanel_bg, 10%);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
}


.main-head {
  background: $mainhead_bgcolor;
  height: $mainhead_height;
  border-bottom: 1px solid darken($mainhead_bgcolor, 10%);
  overflow: hidden;

  .logo-container {
    float: left;
    margin: $paddingLarge 0 0 $paddingLarge;
  }

  .page-title {
    float: left;
    position: relative;
    margin-left: $padding;

    h1 {
      font-size: 20px;
      color: lighten($mainhead_bgcolor, 60%);
      top: 6px;
      position: relative;
      font-weight: $font-weight-semi-bold;

      &.solo {
        font-size: 24px;
        line-height: 36px;
      }
    }

    h3 {
      font-size: $font-size-sm;
      color: lighten($mainhead_bgcolor, 20%);
    }
  }

  .search {
    float: right;
    background: #fff;
    padding: $padding;
    margin-right: $paddingLarge;
    border-radius: 3px;
    top: $paddingLarge + 1;
    position: relative;

    .fa-search {
      color: darken($mainhead_bgcolor, 10%);
    }

    input {
      border: none;
      box-shadow: none;
    }
  }
}

#main-wrap {
  overflow: hidden;
}

.sidepanel {
  width: $sidepanel_width;
  background: $sidepanel_bg;
  color: $sidepanel_color_dark;
  border-right: 1px solid darken($sidepanel_bg, 30%);
  float: left;
  padding: $padding;
  position: relative;
  margin-bottom: -99999px;
  padding-bottom: 99999px;

  &.collapse {
    width: 20px;

    .panel {
      display: none;
    }

    .js-toggle {
      right: 3px;
    }
  }

  .js-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .js-send-message {
    position: absolute;
    top: 6px;
    right: 0px;
    cursor: pointer;
  }

  .panel {
    margin-bottom: 20px;
    position: relative;

    .fa {
      padding-right: 5px;
    }
  }

  .job-meta {
    line-height: 1.4em;
    font-size: $font-size-sm;

    .meta-pair {
      margin-bottom: 1em;

      .title {
        font-weight: $font-weight-semi-bold;
      }

      .value {
        color: $sidepanel_color_light;

        &.multi-line {
          display: block;
        }
      }
    }
  }

  h1 {
    line-height: 1.5em;
    font-size: $font-size-lg;
  }

  .contact-list {
    background: #fff;
    border-radius: 5px;
    border: 1px solid darken($sidepanel_bg, 15%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    padding: $padding;

    .contact-entry {
      margin-bottom: 1em;

      h3 {
        font-size: $font-size-sm;
      }

      .role {
        color: $sidepanel_color_light;
        font-size: $font-size-xs;
      }

      .image {
        width: 30px;
        height: 30px;
        border-radius: 150px;
        overflow: hidden;
        float: left;
        margin-right: $padding;

        img {
          width: 30px;
        }
      }
    }

  }
}

.main-content {
  overflow: hidden;
  padding: $paddingLarge;
  position: relative;
  min-height: 600px;

  h1 {

    a {
      color: $button_blue;
    }
  }

  .inner-nav {
    border-bottom: 2px solid darken($sidepanel_bg, 10%);
    margin-bottom: $padding;

    li {
      float: left;
      text-transform: uppercase;
      font-size: $font-size-sm;
      font-weight: $font-weight-semi-bold;
      position: relative;

      a {
        color: $sidepanel_color_light;
        padding: 0 $padding $paddingLarge $padding;
        display: block;
        z-index: 3;
        position: relative;
        bottom: -2px;
        border-bottom: 2px solid darken($sidepanel_bg, 10%);
      }

      &.active a {
        color: darken($mainhead_bgcolor, 35%);
        border-bottom-color: lighten($mainhead_bgcolor, 10%);
        z-index: 6;
        position: relative;
      }

    }

  }

}

.main-footer {
  background: darken($mainhead_bgcolor, 30%);
  color: $gray-lightest;
  line-height: 30px;
  font-size: $font-size-sm;
  text-align: center;
}

a.checkbox,
span.checkbox {
  display: inline-block;
  width: 22px;
  height:22px;
  background: $sidepanel_bg;
  border-radius: 11px;
  border: 1px solid darken($sidepanel_bg, 15%);
  color: darken($sidepanel_bg, 10%);
  text-align: center;
  line-height: 22px;
  font-size: 14px;

  &.clickable:hover {
    background: darken($sidepanel_bg, 10%);
    border: 1px solid darken($sidepanel_bg, 25%);
    color: darken($sidepanel_bg, 25%);
  }

  &.checked {
    background: lighten($mainhead_bgcolor, 55%);
    border: 1px solid darken($mainhead_bgcolor, 1%);
    color: darken($mainhead_bgcolor, 1%) !important;
  }
}

$sendmessage_width: 730px;

.send-message {
  padding: $paddingLarge;
  background: $sidepanel_bg;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
  width: $sendmessage_width - $paddingLarge*2;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  top: 100px;
  display: none;

  h2 {
    margin: 0 0 $padding;
    padding: 0;
    position: relative;

    .fa-mobile {
      font-size: 20px;
      position: relative;
      top: 1px;
    }
  }

  header {
    position: relative;

    h1 {
      font-size: 18px;
      margin: 0 0 $paddingLarge;
      padding-bottom: $paddingLarge;
      border-bottom: 1px solid darken($sidepanel_bg, 10%);
    }

    .select-template {
      position: absolute;
      font-size: $font-size-sm;
      top: 0;
      right: 0;
    }

  }

  input,
  textarea {
    width: 100%;
    color: $sidepanel_color_dark
  }

  textarea {
    padding: $padding;
    line-height: 1.4em;
    font-size: $font-size-sm;
  }

  .message-body {

    .message-forms {
      float: left;
      width: 66%;

      .disclaimer {
        color: darken($sidepanel_bg, 25%);
        font-size: $font-size-sm;
      }

      .seg-sms {
        position: relative;

        .character-count {
          position: absolute;
          top: 2px;
          right: 0;
          font-size: $font-size-sm;
        }
      }

      #email-subject {
        margin-bottom: $padding;
        font-size: $font-size-sm;
        padding: $padding;
      }

      #email-copy {
        height: 178px;
        margin-bottom: $paddingLarge;
      }

      #sms-copy {
        height: 60px;
        margin-bottom: $paddingLarge;
      }

    }

    .recipients-fields {
      float: right;
      width: 31%;
      margin-bottom: $paddingLarge;

      .recipient-list {
        height: 290px;
        overflow: scroll;
      }

      input {
        margin-bottom: $padding;
        line-height: 40px;
        padding: 0 $padding;
        width: 101%;
      }

      .recipient {
        background: darken($sidepanel_bg, 4%);
        width: 100%;
        padding: 0 14px;
        margin-bottom: $padding;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
        line-height: 32px;
        position: relative;
        font-size: $font-size-sm;

        .fa-times {
          color: darken($sidepanel_color_dark, 0);
          position: absolute;
          right: 14px;
          top: 8px;
        }
      }
    }

    .js-send-message {
      float: right;
      border-radius: 3px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
      width: 100%;
      color: #fff;
      background: $button_blue;
      line-height: 32px;
      border: none;
    }

  }

}

.bubble
{
  position: relative;
  min-width: 200px;
  min-height: 120px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid darken($sidepanel_bg, 15%);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 9px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -9px;
  left: 55px;
  filter:drop-shadow(0px -2px 1px rgba(0,0,0,.2));
}

.notes-box {
  position: absolute;
  z-index: 10;
  top: 48px;
  left: 40px;
  font-size: $font-size-sm;
  width: 370px;
  display: none;

  .notes-list {
    padding: $padding $padding 0 $padding;
  }

  .note {
    margin-bottom: 1.3em;
    padding-top: 20px;
    position: relative;

    .author {
      position: absolute;
      top: 0;
      left: 0;
      color: $sidepanel_color_light;
    }

    .date {
      position: absolute;
      top: 0;
      right: 0;
      color: $sidepanel_color_light;
    }

    .message {
      line-height: 1.4em;
    }

    .image {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      overflow: hidden;
      float: left;
      margin-right: $padding;

      img {
        width: 100%;
      }

    }
  }

  .more {
    display: block;
    background: $sidepanel_bg;
    text-align: center;
    color: $button_blue;
    line-height: 30px;
    border-radius: 0 0 4px 4px;
  }
}

.main-mid-section-inner {

  & > h1 {
    .fa {
      padding-right: $padding;
    }
  }

  & > h4 {
    position: relative;
    top: -8px;
    margin-bottom: $paddingLarge;
  }
}

.main-mid-section-inner > h4 {
}


/********************************* End Common Styles *********************************/

$tasklist_height : 36px;

.tasklist {
  line-height: $tasklist_height;
  color: $sidepanel_color_light;

  .task-head {
    background: $sidepanel_bg;
    font-weight: $font-weight-semi-bold;
    color: $sidepanel_color_dark;
    border-radius: 6px;

    .expander {
      font-size: 20px;
      color: $sidepanel_color_dark;
      margin-left: $padding;
      line-height: $tasklist_height;
    }
  }
  
  .task-style {
    position: relative;
    height: $tasklist_height;
    font-size: $font-size-sm;
    border-bottom: 1px solid $sidepanel_bg;

    a.fa-pencil {
      color: $sidepanel_color_light;
      display: none;

    }

    .checkbox {
      margin-right: $padding - 2;
    }

    &.overdue .col-title {
      color: #cc0000;
    }


    .col-title {
      position: absolute;
      top: 0;
      left: 50px;
      min-width: 345px;

      a.fa-pencil {
        margin-left: 4px;
      }

      &:hover a.fa-pencil {
        display: inline;
      }
    }

    .col-meta {
      position: absolute;
      top: 0;
      left: 345px;
      width: 70%;

      .cols {
        width: 100%;
      }

      .col {
        float: left;
        padding: 0 $padding;

        &:hover a.fa-pencil {
          display: inline;
        }

        &.col-1,
        &.col-2 {
          width: 16%;
          text-align: center;
        }

        &.col-3 {
          width: 58%;

          &.input input {
            padding: 0 $padding/2;
            height: 30px;
            border-radius: 3px;
            border: 1px solid darken($sidepanel_bg, 5%);
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
            width: 80%;
            position: relative;
            top: 0px;
            line-height: 30px;
          }

          &.input button {
            height:30px;
            background: $button_blue;
            color: #fff;
            padding: 0 $padding;
            border-radius: 3px;
            position: relative;
            top: 0px;
            border: none;
            line-height: 30px;
          }
        }

      }
    }
  }

}


.search-contacts {
  display: inline-block;
  font-size: $font-size-xl;
  margin-bottom: $paddingLarge;
  padding: $padding;
  border-radius: 10px;
  min-width: 400px;
}

.last-sync {
  position: absolute;
  top: 116px;
  right: $paddingLarge;
  font-size: $font-size-xs;

  a {
    color: $button_blue;
  }
}

.people-list {

  .entry {
    background: $sidepanel_bg;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid darken($sidepanel_bg, 5%);
    padding: $padding $padding $padding*4;
    float: left;
    width: 31%;
    margin: 0 20px $paddingLarge 0;
    position: relative;

    .contact-settings {
      position: absolute;
      bottom: $padding;
      left: $padding;
      font-size: $font-size-sm;
    }
  }

  .people-form {

    .form-input {
      width: 100%;
      margin-bottom: $padding;

      input[type=text] {
        font-size: $font-size-sm;
        width: 100%;
        padding-left: $padding;
        line-height: 32px;
      }

      &.icon {

        .fa {
          display: inline-block;
          width: 10%;
          text-align: center;
        }

        input[type=text] {
          width: 88%;
        }

      }

    }

    button {
      background: none;
      border: none;
      color: $button_blue;
      float: right;
      font-size: $font-size-sm;
      font-weight: $font-weight-semi-bold;
    }
  }

  .people {

    .head-links {
      position: absolute;
      top: $padding*1.8;
      right: $padding*2;

      a {
        color: $button_blue;
      }
    }

    .role {
      display: block;
      width: 100%;
      background: darken($sidepanel_bg, 3%);
      line-height: 2em;
      padding-left: $padding;
      border-radius: 2px;
      margin-bottom: $padding;
    }

    .image {
      width: 24%;
      height: 70px;
      border-radius: 3px;
      float: left;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .meta {
      float: right;
      width: 73%;

      .data {
        display: block;
        font-size: $font-size-sm;
        line-height: 1.5em;
        color: $sidepanel_color_light;

        &.name {
          color: $sidepanel_color_dark;
          font-size: $font-size-md;
        }

        .fa {
          display: inline-block;
          width: 1em;
          text-align: center;
        }
      }
    }
  }
}

.client-view {
  position: relative;

  .cv-logo {
    width: 220px;
    height: 60px;
    display: inline-block;
    margin-bottom: $paddingLarge;
  }

  .ref-id {
    position: absolute;
    top: 0;
    right: 0;
  }

  .title {
    font-size: $font-size-md;
    font-weight: $font-weight-semi-bold;
    position: relative;
    margin-bottom: $paddingLarge;

    .closing-date {
      position: absolute;
      right: 0;
      top: 0;
      font-weight: $font-weight-light;
      color: $sidepanel_color_light;
    }
  }

  .progress-bar {
    width: 100%;
    background: lighten($mainhead_bgcolor, 55%);
    border: 1px solid lighten($mainhead_bgcolor, 20%);
    line-height: 40px;
    border-radius: 6px;
    margin-bottom: $paddingLarge;
    overflow: hidden;

    .bar {
      background: lighten($mainhead_bgcolor, 20%);
      color: #fff;
      border: none;
      padding: 0 $padding;
      text-align: right;
      font-size: $font-size-xl;
      min-width: 5%;
    }
  }

  .task {
    line-height: 1.5em;
    border-bottom: 1px solid darken($sidepanel_bg, 1%);
    padding: 6px $padding 6px $padding*4;
    font-size: $font-size-sm;
    position: relative;
    cursor: pointer;

    .checkbox {
      position: absolute;
      left: 10px;
      top: 5px;
    }

    .name {
      display: block;
    }

    .description {
      display: none;
      background: darken($sidepanel_bg, 5%);
      padding: $padding;
      border-radius: 3px;
      margin: $padding 0;
    }

    &.show-description {

      .description {
        display: inline-block;
      }
    }
  }
}

.workflow.entry {
  position: relative;
  min-height: 82px;

  &:hover h2 .js-edit {
      display: inline-block;
  }

  .workflow-info {
    padding-right: 130px;

    .group {
      margin: 0 $paddingLarge .3em 0;
      font-size: $font-size-sm;
      position: relative;
      top: -3px;

      .group-name {
        font-style: italic;
      }
    }

    h2 {
      font-size: 1.1em;
      line-height: 1.5em;
      margin-bottom: .5em;

      a {
        line-height: normal;
        color: $sidepanel_color_dark;
      }

      .js-edit {
        font-size: $font-size-sm;
        display: none;
        color: $button_blue;
        padding-left: $padding;
      }

    }

    h3 {
      color: $sidepanel_color_light;
    }
  }

  .actions {
    position: absolute;
    top: $padding;
    right: $padding;
    text-align: center;

    .job-count {
      text-align: right;
      display: block;
      margin-bottom: $padding;

      a {
        color: $button_blue;
      }
    }
  }
}

.list-entry.entry {
  h2 {
    font-size: 1.1em;
    line-height: 1.5em;

    a {
      line-height: normal;
      padding-left: $padding;
      color: $button_blue;
    }

  }
}

.widget > h2 {
  font-weight: $font-weight-semi-bold;
  line-height: 2em;
  margin-bottom: .5em;
}

.templates-list {
  width: 60%;
  float: left;

  &.selected {
    .template.entry .entry.preview {
      opacity: .4;
      cursor: auto;
    }
  }


  .template.entry {

    .entry {
      position: relative;

      &.form {
        display: none;

        .link-group {
          position: absolute;
          top: $padding;
          right: $padding;
          font-size: $font-size-sm;
          line-height: 16px;

          a {
            color: $button_blue;
            padding-left: $padding;
          }
        }

        h2 {
          margin-bottom: .5em;
          border-bottom: 1px solid darken($sidepanel_bg, 15%);
          padding-bottom: $padding;
        }

        .aside {
          width: 36%;
          float: right;

          .form-input {
            margin-bottom: $padding;
          }
        }

        .form-group {
          width: 64%;
          float: left;
          line-height: 32px;
          margin-bottom: $padding;
          font-size: $font-size-sm;

          label {
            display: block;
            width: 22%;
            float: left;
          }

          textarea {
            line-height: 1.4em;
          }

          input, textarea {
            width: 70%;
          }
        }
      }
    }

    .entry.preview {
      display: block;
      position: relative;
      cursor: pointer;
    }


    &.form-mode {
      .entry.form {
        display: block;
      }

      .entry.preview {
        display: none;
      }
    }
  }
}

.dynamic-list {
  position: relative;

  .list-item {
    line-height: 1.4em;
    position: relative;
    padding: 10px 30px 10px 10px;
    width: 100%;
    background: darken($sidepanel_bg, 10%);
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;

    a {
      line-height: inherit;
      position: absolute;
      right: 10px;
      color: $button_blue;
    }
  }

}

.entities-list.widget {
  float: right;
  width: 38%;

  .form-group {
    margin-bottom: $padding;
  }

  .entities {
    margin-top: $padding;
    padding-top: $padding;
    border-top: 1px solid darken($sidepanel_bg, 15%);
    font-size: $font-size-sm;
  }

  .entity {
    position: relative;
    line-height: 14px;
    padding: 4px 30px 4px 10px;
  }
}

.meta-list.widget {
  float: right;
  width: 38%
}