.inner-nav-btns {
  position: absolute;
  top: 70px;
  right: $paddingLarge;
}

.btn-style {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
  color: $sidepanel_color_dark;
  background: $sidepanel_bg;
  border: none;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  padding: 0 2px;

  .fa {
    color: $button_blue;
  }

  &.submit {
    color: #fff;
    background: $button_blue;

    .fa {
      color: inherit;
    }

  }
}

.btn {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .08);
  width: 100%;
  color: $sidepanel_color_dark;
  background: $sidepanel_bg;
  line-height: 32px;
  border: none;
  font-size: $font-size-md;
  font-weight: $font-weight-light;
  padding: 0 $padding;
  display: inline-block;

  .fa {
    color: $button_blue;
  }

  &.submit {
    color: #fff;
    background: $button_blue;

    .fa {
      color: inherit;
    }

  }

  &.disabled {
    color: $sidepanel_color_light;
    background: $sidepanel_bg;

    .fa {
      color: inherit;
    }

  }

}

.c-button {
  display: inline-block;
  padding: $padding/2 $padding;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background: $primary;
  color: $gray-lightest;
  text-decoration: none;
  font-weight: $font-weight-light;
  letter-spacing: 1px;
  transition: all .2s ease;
  box-shadow: 0 3px 3px 0 rgba($gray-darkest, .5);
  outline: none;

  &:hover {
    background: $primaryDark;
    color: $gray-lightest;
    box-shadow: 0 5px 5px -2px rgba($gray-darkest, .25);
  }

  &--huge{
    padding: $padding $padding*2;
  }

  &--mini{
    padding: $padding/4 $padding/2;
    font-size: $font-size-xs;
  }

  &--block{
    display: block;
    width: 100%;
  }
}

.c-button--secondary {
  background: $secondary;

  &:hover {
    background: $secondaryDark;
  }
}

.c-button--warning {
  background: $warning;
  color: $textColor;

  &:hover {
    background: $warningDark;
  }
}

.c-button--danger {
  background: $danger;

  &:hover {
    background: $dangerDark;
  }
}

.c-button--info {
  background: $info;

  &:hover {
    background: $infoDark;
  }
}