.c-contribution {
  padding: $padding/2 0;
  display: block;

  &:nth-child(even) {
    background: $gray-light;
    box-shadow: -$padding 0 0 0 $gray-light, $padding 0 0 0 $gray-light;
  }
}

.c-contribution__title {
  display: inline-block;
}

.c-contribution__cost {
  display: inline-block;
  font-weight: $font-weight-bold;
  float: right;
}