.jobs-list {

  .job-entry {
    display: flex;
    background: $sidepanel_bg;
    border-radius: 3px;
    border: 1px solid darken($sidepanel_bg, 10%);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);

    .job-title {
      flex: 1 150px;
      border-right: 1px solid darken($sidepanel_bg, 10%);
    }

    .job-tasks {
      flex: 10;

      .job-task {
        float: left;
        padding: 0;
        min-height: 60px;
        min-width: $padding;
        border-right: 1px solid darken($sidepanel_bg, 10%);

        .job-inner {
          padding: $padding;
        }

        &:last-child {
          border-right: none;
        }

        .status {
          line-height: 20px;
          background: darken($sidepanel_bg, 10%);
          height: 20px;
        }

        .content {
          display: none;
        }

        &.active {

          .content {
            display: block;
          }

        }

      }

    }

  }

}











