.c-login {
  background: $gray-lightest;
  @include base-box-shadow();
  margin: $padding auto;
}

.c-login__header {
  background: $primary;
  padding: $padding*2;
  text-align: center;
}

.c-login__title {
  margin: 0;
  color: $gray-lightest;
  text-transform: uppercase;
  font-weight: $font-weight-light;
  letter-spacing: 2px;
  font-size: $font-size-xl;
}

.c-login__body {
  padding: $padding $padding*2;
}