.cs-add-note-form {
  background: #fff;
  box-shadow: 0 0 3px 3px rgb(255, 255, 255);
  z-index: 15;
  position: relative;

  .inner-note {
    position: relative;
    padding-left: 82px;
  }

  .avatar {
    left: 16px;
  }

  .note-field {
    border: 1px solid darken($sidepanel_bg, 10%);
    border-radius: 3px;
    margin-bottom: $padding;
    padding: 10px 16px 10px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .06);
    line-height: 1.5em;
  }

  .cs-note-tags {
    margin: $padding 0 0;

    .cs-note-tag {
      padding: 4px 6px;
      font-size: $font-size-sm;
      background: $sidepanel_bg;
      color: $sidepanel_color_dark;
      border-radius: 3px;
      margin-right: $padding;
      float: left;
      margin-bottom: $padding;

      &:hover {
        background: darken($sidepanel_bg, 5%);
      }

      .fa-times-circle {
        color: lighten($sidepanel_color_light, 15%);
        cursor: pointer;
      }
    }
  }

  &.show-tags {
    
    .toggle-no-tags {
      display: none;
    }

    .tags-submit {
      display: flex;
      line-height: 20px;

      .title {
        flex: 1 80px;
        line-height: 1.5em;
        text-align: center;
      }

      .field {
        margin-right: 20px;
        flex: 12;
        padding: 4px;
      }

      button {
        flex: 2 80px;
      }

    }
  }

  &.no-tags {

    .toggle-no-tags {
      position: absolute;
      bottom: -14px;
      left: 82px;
      color: $button_blue;
      cursor: pointer;
      font-size: $font-size-cs;
    }

    .inner-note {
      display: flex;

      .note-field {
        flex: 8;
        margin-right: 20px;
      }

      .tags-submit {
        flex: 2;

        button {
          width: 100%;
          height: 46px;
        }
      }
    }

    .tags-field {
      display: none;
    }

    .tags-submit {

      button {
      }
    }

  }

}

.avatar {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background: darken($sidepanel_bg, 10%);
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  border: 3px solid #fff;
}

.cs-notes-list {
  border-left: 3px solid darken($sidepanel_bg, 10%);
  margin-left: 40px;
  padding-top: 50px;
  position: relative;
  top: -30px;
  z-index: 10;

  .avatar {
    left: -28px;
  }

  .cs-note {
    position: relative;
    border-bottom: 1px solid darken($sidepanel_bg, 0);
    margin-bottom: $paddingLarge;
    padding-left: 40px;

    .top-bar {
      font-size: $font-size-cs;
      position: relative;
      line-height: 1.4em;
      color: $gray;
      margin-bottom: 10px;

      .author-narrative {

        .author {
          font-weight: bold;
          color: $sidepanel_color_dark;
        }

      }

      .datetime {
        position: absolute;
        top: 0;
        right: 0;
      }

      a {
        color: $button_blue;
      }
    }

    .note-content {
      line-height: 1.5em;
      font-size: $font-size-cs;
      color: $sidepanel_color_light;

      p {
        margin-bottom: 1em;
      }
    }

    .tags {
      font-size: $font-size-cs;
      margin-bottom: $padding * 3;

      .fa-tags {
        color: darken($sidepanel_bg, 10%);
      }

      a {
        color: $button_blue;
      }
    }
  }

}

.cs-note {

  .lower {
    display: flex;

    .tags {
      flex: 8;
    }

    .author-links {
      display: none;
      flex: 2;
      font-size: $font-size-sm;

      a {
        color: $button_blue;
        position: relative;
        right: -40px;
      }
    }

  }
}

.jobs-notes-page,
.projects-notes-page {

  .notes-search-results-message {
    margin-bottom: $paddingLarge;
    font-style: italic;
  }
  
  .main-column {
    float: left;
    max-width: 72%;
    width: 100%;
  }

  .cs-add-note-form {
    margin-bottom: $padding * 3;
  }

  .cs-note.author-me {

    &:hover {
      .author-links {
        display: block;
      }

    }
  }

}

.inset-widgets {
  width: 25%;
  float: right;

  h2 {
    line-height: 1.3em;
    margin-bottom: .5em;
  }

  .search-form {
    margin-bottom: $padding;
    position: relative;

    .cs-search-notes {
      width: 80%;
      float: left;

      input {
        width: 100%;
      }
    }

    .js-search-notes {
      line-height: 20px;
      padding: 1px 8px;
      float: right;
    }

  }

  .used-tags-list {
    line-height: 1.8em;
    padding-left: $padding * 2;
    font-size: $font-size-cs;

    a {
      color: $button_blue;
    }
  }

}

.cs-notes-box {

  .cs-add-note-form {
    background: none;
    box-shadow: none;
    overflow: hidden;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.04);
    border-bottom: 1px solid darken($sidepanel_bg, 10%);

    .inner-note {
      padding: $padding;
      box-shadow: 0 0 3px 3px rgb(255, 255, 255);

      .note-field {
      }

    }

    .toggle-no-tags {
      left: $padding;
    }

    .tags-field.title {
      line-height: 2.2em;
    }

    .avatar {
      display: none;
      flex: 0;
    }
  }

  .cs-notes-list {

    $cs_notes_bg : lighten($sidepanel_bg, 2%);

    margin-left: 0px;
    border-left-width: 1px;
    top: 0px;
    padding-top: 0px;
    padding-left: 20px;
    background: $cs_notes_bg;
    border: none;
    border-bottom: 1px solid darken($sidepanel_bg, 10%);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 152px;

    .avatar {
      width: 32px;
      height: 32px;
      left: -17px;
      top: 10px;
      border-color: $cs_notes_bg;
    }

    .top-bar {
      font-size: $font-size-sm;
      margin-bottom: 4px;

      .author-narrative {

        .author {
          font-weight: normal;
        }

      }

      .time-text {
        display: none;
      }
    }

    .cs-note {
      padding-left: 20px;
      padding: 10px 10px 0 20px;
      border-left: 1px solid darken($sidepanel_bg, 10%);
      margin-bottom: 0px;
      width: 100%;

      .note-content {
        font-size: $font-size-sm;
        //@include multiline-ellipsis($rows:3,$line-height:1.2em,$bg-color:white,$ie9_url:'../img/gradient-0-white.svg', $spacer:5px);
        @include multiLineEllipsis($lineHeight: 1.4em, $lineCount: 2, $bgColor: white);
        margin-right: 0em;
        margin-bottom: 8px;
      }

    }
    
    .tags {
      display: none;
    }
  }
}

