.c-tabs {
  position: relative;
  //@include base-box-shadow();
  //@include default-transition();
  //
  //&:hover {
  //  @include hover-box-shadow();
  //}
}

.c-tabs2__nav {
  margin: 0;
  padding: 0;
  height: 60px;
  list-style: none;
}

.c-tabs2__btn {
  display: inline-block;
  float: left;


  user-select: none;
  cursor: pointer;
  @include default-transition();

  a{
    display: inline-block;
    background: $gray;
    min-width: 75px;
    padding: $padding;
    border-right: 1px solid $gray-medium;
    border-top: 1px solid $gray-medium;
  }

  a:hover,
  &.ui-state-active a {
    font-weight: $font-weight-bold;
    background: $gray-light;
    transform: scaleY(1.1);
    transform-origin: 0 100%;
    @include base-box-shadow();
    border: none;
  }
}

.c-tabs2__container {
  background: $gray-light;
  @include base-box-shadow();
  padding: $padding;
  margin-top: -7px;
  z-index: 10;
  position: relative;

  .c-table-display{
    filter: none;
    border-bottom: 2px solid $gray-medium;
    border-left: 1px solid $gray-medium;
    border-right: 1px solid $gray-medium;
  }

}

.c-tabs2__section {
  @include clearfix();
}