.c-table__actions {
  display: flex;
}

.c-table__action {
  flex: 1;
  border: 1px solid $gray-medium;
  border-right: 0;
  border-top: 0;
  padding: $padding;
  background: $gray-lightest;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #999
}

.c-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

}

.c-table-display{
  //filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(0 3px 3px rgba($gray-darkest, 0.5));
  //box-shadow: 0 3px 3px 0 rgba($gray-darkest, 0.5);
}

.c-table__head{
  padding: $padding;
  background: $primary;
  border: none;
  display: none;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background: darken( lighten($primary, 10), (($i +1)*5 ) );;
    }
  }

  .no-out-of-network &.col-index-2 {
    background: #525a5a;
  }

}

.c-table__body{
  @include base-box-shadow;
  box-shadow: 0 12px 3px 0 rgba($gray-darkest, 0.5);
}

.c-table__sep {
  background: $gray-light;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  padding: $padding;
}

.c-table__item{
  padding: 0 $padding $padding/2;
  background-color: $gray-lightest;
  border: 1px solid #DDD;
  empty-cells: show;
  text-align: center;

  &:first-child {
    padding: $padding/2 $padding;
  }

  .no-out-of-network &.col-index-2 {
    background: #ccc9c9;
  }

}

.c-table__title {
  text-align: left;
  position: relative;
}

.c-table__item--nested {
  padding: 0;
  border: none;

  &:first-child {
    padding: 0;
  }

  td{
    //border-right: 1px solid $gray-light;
    border: none;
    border-left: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
  }
}

.c-table__item--nested .c-table {
  width: 100%;
}

.is-hidden {
  display: none;

  .c-table &{
    border: 0;
    background: none;
  }
}

.c-table__sep--table{
  width: 100%;
  text-align: center;
}

.c-table__sep--half{
  width: 50%;
  font-size: $font-size-xs;
}


@media (min-width: $breakpoint-sm) {
  .c-table__actions{
    display: none;
  }
  .c-table__head {
    display: table-cell;
  }
  td, th {
    display: table-cell !important;
  }
  td, th {
    // width: 330px;
  }
  td + td, th + th {
    width: auto;
  }
}

.c-table__row {
  display: table-row;

  .c-table__item {
    transition: background-color 10s ease 10s;
  }

  &.new .c-table__item {
    animation-duration: 3s;
    animation-name: alertFade;
    //animation-delay: 2s;
    //background-color: #faffbb;
  }
}

@keyframes alertFade{
  0%{
    background: $yellowAlt;
  }
  100%{
    background: $gray-lightest;
  }
}

.c-table__item .content input {
  margin-right: $padding / 2;
}

.c-table__sep .content input {
  margin-right: $padding / 2;
}

.fa-icons {
  display: none;

  .editable-content & {
    display: inline;

    .fa {
      display: none;
    }

    .fa.standardized {
      display: inline;
    }

  }

  .fa {
    padding-left: $padding / 2;
  }

}



.c-table__title .standardized {
  position: absolute;
  top: 44%;
  right: $padding / 2;
  font-size: $font-size-lg;
  display: none;
}

.editable-content {

  &:hover .fa {
    display: inline;
  }

  .standardized {
    display: inline;
  }


}

.c-table__title .standardized .fa-exclamation-triangle {
  color: #c00;
}

.c-table__title .standardized .fa-check {
  color: #0bcc3f;
}


//tr:hover td{
//  background: $gray-light !important;
//}